// ====================== bootstrap
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

// ====================== colors
$background: #f4f6f9;
$grayText: #7f7f7f;
$blue: #0794d8;

// ====================== fonts
@font-face {
  font-family: vazir;
  src: url("@/assets/fonts/Vazir.ttf");
}

// ====================== General
body {
  font-family: vazir;
}
// -------font
.font-s {
  font-size: 13px;
}
.font-m {
  font-size: 14px;
}
.font-l {
  font-size: 15px;
}
// -------color
.text-blue {
  color: $blue;
}
.text-light-green {
  color: limegreen;
}

// ====================== App.vue
#main {
  width: calc(100vw - 250px);
  transition: width 0.5s;
  background-color: $background;
  font-family: vazir;
  height: 100vh;
  padding-top: 67px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(107, 107, 107, 0.2) rgba(107, 107, 107, 0);
}
section {
  min-height: calc(100vh - 134px);
}

// ====================== Header.vue
header {
  font-family: vazir;
}
// -------navbar
.navbar {
  margin-right: 250px;
  transition: margin-right 0.5s;
  position: fixed;
  z-index: 1000;
  height: 67px;
}
.dropdown-menu-email {
  width: 350px;
}
.dropdown-menu-profile {
  margin-top: 13px !important;
  li:active {
    color: black !important;
    background-color: $light;
  }
}
// -------aside
.aside {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
}
.menu-icon {
  font-size: 18px;
  color: $grayText;
}
.logo {
  width: 100%;
  height: 67px;
  svg {
    width: 67px;
  }
}
.logo h6 {
  font-weight: bold;
  display: inline-block;
}
.menu {
  scrollbar-width: thin;
  scrollbar-color: white white;
  position: absolute;
  padding-top: 15px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 67px);
  transition: width 0.5s;
  svg {
    width: 67px;
  }
  .homeIcon path {
    fill: $purple;
  }
  .blogIcon path {
    fill: $orange;
  }
  .pageIcon path {
    stroke: $teal;
  }
  .commentIcon path {
    stroke: $info;
  }
  .templateIcon path {
    stroke: $red;
  }
  .usersIcon path {
    fill: $yellow;
  }
  .settingIcon path {
    fill: $green;
  }
}
.menu:hover {
  scrollbar-color: #e4e4e4 white;
}
.menu a {
  color: $secondary;
  display: block;
  text-decoration: none;
  transition: 0.3s;
}
.menu a:hover {
  color: $black;
}

// ====================== Footer.vue
footer {
  font-family: vazir;
  height: 67px;
  line-height: 30px;
  font-size: 15px;
}

// ====================== home.vue (page)
// -------tooltip
span.tip path {
  color: #c5c5c5;
}
span.tip:hover {
  cursor: help;
  position: relative;
}
span.tip span {
  display: none;
}
span.tip:hover span {
  display: block;
  background: white;
  left: 5px;
  margin: 10px;
  width: 200px;
  position: absolute;
  z-index: 1001;
  top: 5px;
  font-size: 13px;
  line-height: 25px;
}
// -------DateTime (component)
.timeBox span:nth-child(odd) {
  width: 50px;
}
.timeBox {
  font-weight: bold;
  background: -webkit-linear-gradient(top left, $danger, $yellow, $success);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
